@model ShoppingTech.DAL.Product

@{
    ViewBag.Title = "Details";
    var active = "";
}

@section Sidebar {
    <div class="col-sm-3">
        <h3>Categories</h3>
        <div class="list-group">
            @foreach (var category in ViewBag.ListCat)
            {
                active = ViewBag.CategoryName == category.Name ? "active" : "";
                <a href="@Url.Action("Browse", "Store", new {id = category.Name})" class="list-group-item @active">@category.Name</a>
            }
        </div>
    </div>
}

<div class="col-sm-9">
    <div class="col-sm-5">
        <img class="item-img" src="@Model.ImageUrl" alt="@Model.Name" />
    </div>
    <div class="col-sm-offset-1 col-sm-6">
        <h2>@Model.Name</h2>
        <strong class="price-item">@Model.ListPrice</strong>
        <br />
        <p>@Model.Description</p>
    </div>
</div>
