@model System.Collections.Generic.IEnumerable<ShoppingTech.DAL.Category>
@{
    ViewBag.Title = "Category";
}

<!-- Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="addModalLabel">Add category</h4>
            </div>
            <form id="add-cat-form" name="form1" method="post" enctype="multipart/form-data" action="../../api/Categories">
                <div class="modal-body">
                    <div>
                        <label for="add-cat-name">Category Name</label><br />
                        <input name="cat-name" type="text" id="add-cat-name" />
                    </div>
                    <div>
                        <label for="add-cat-img">Image File</label>
                        <input name="image1" type="file" id="add-cat-img"/>
                        <img id="add-img-preview" class="upload-img-preview"/>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add item</button>
                </div>
            </form>             
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="editModal" tabindex="-2" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="editModalLabel">Edit category</h4>
            </div>
            <div class="modal-body">
                <form id="edit-cat-form" name="edit-form" method="post" enctype="multipart/form-data">
                    <div>
                        <label>Category ID</label><br/>                        
                        <input name="cat-id" type="text" id="cat-id" disabled="disabled"/>
                    </div>
                    <div>
                        <label for="edit-cat-name">Category Name</label><br/>
                        <input name="cat-name" type="text" id="edit-cat-name"/>
                    </div>
                    <div>
                        <label for="edit-cat-img">Image File</label>
                        <input name="image1" type="file" id="edit-cat-img"/>
                        <img id="edit-img-preview" class="upload-img-preview"/>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-3" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="deleteModalLabel">Delete category</h4>
            </div>            
            <div class="modal-body">
                Are you sure to delete this category?
                <div id="rowId"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" id="delete-cat">Confirm</button>
            </div>
        </div>
    </div>
</div>

@section Sidebar
{
    <div class="col-sm-3">
        <h3>Management</h3>
        <div class="list-group">
            <a href="@Url.Action("Category", "Manage")" class="list-group-item">Categories Management</a>
            <a href="@Url.Action("Product", "Manage")" class="list-group-item">Products Management</a>
            <a href="@Url.Action("Order", "Manage")" class="list-group-item">Order Management</a>
        </div>
    </div>
}

<h2>Category</h2>

<div class="col-sm-9">

    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Category ID</th>
                <th>Category Name</th>
                <th>Image</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var category in Model)
            {
                <tr id="@category.CategoryId">
                    <th>@category.CategoryId</th>
                    <th>@category.Name</th>
                    <th>
                        <img src="@category.ImageUrl" alt="@category.Name" />                        
                    </th>
                    <th>
                        <button type="button" class="btn btn-default edit-category" data-toggle="modal" data-target="#editModal">Edit</button>
                        <button type="button" class="btn btn-danger delete-category" data-toggle="modal" data-target="#deleteModal">Delete</button>
                    </th>                    
                </tr>
            }
            </tbody>
        </table>
    </div>

    <button type="button" class="btn btn-success btn-lg add-category" data-toggle="modal" data-target="#addModal">Add Category</button>
</div>

@section scripts {
    <script src="~/Scripts/management.js"></script>
}